WMS.WcfStore/Connected Services/StoreServiceRef/MainService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WMS.Service.Definitions.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WMS.Service.Definitions.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54168/MainService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ProductDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuyPrice" type="xs:long" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDto" nillable="true" type="tns:ProductDto" />
  <xs:complexType name="ArrayOfProductDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDto" nillable="true" type="tns:ProductDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDto" nillable="true" type="tns:ArrayOfProductDto" />
</xs:schema>