WMS.WcfStore/Connected Services/StoreServiceRef/MainService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54168/MainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WMS.Service.Definitions.Dtos" />
  <xs:element name="AddProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WMS.Service.Definitions.Dtos" minOccurs="0" name="model" nillable="true" type="q1:ProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WMS.Service.Definitions.Dtos" minOccurs="0" name="AddProductResult" nillable="true" type="q2:ProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WMS.Service.Definitions.Dtos" minOccurs="0" name="GetProductsResult" nillable="true" type="q3:ArrayOfProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>